{% extends "learning_logs/base.html" %}

{% block header%}
    <h2>{{topic}}</h2>
{% endblock header%}

{% block content%}
   
    <form id="formulario" method="POST" action="{% url 'delete_multiple' topic.id %}">
        {% csrf_token %}
        <div class="space panel panel-default position-relative">
            <div><a href="{% url 'new_entry' topic.id %}">Adicione uma nova anotação</a></div>
            <div><input type="submit" onclick="confirmarEnvio(event)" value="Apagar" class="btn btn-danger"></div>
        </div>
        {% for entry in entries %}
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <input type="checkbox" value="{{ entry.id }}" name="mycheckbox">
                            {{ entry.date_added | date:'M d, Y H:i'}}

                            <small><a href="{% url 'edit_entry' entry.id %}" class="btn btn-primary">Editar</a></small>
                        </h3>
                    </div>

                    <div class="panel-body">
                        {{ entry.text | linebreaks }}
                    </div>
            </div>
            {% empty %}
            Não há registros.
        {% endfor %}
    </form>
    
    <script>
        function confirmarEnvio(event) {
            event.preventDefault();
            if (confirm("Você deseja realmente apagar os tópicos selecionados ?")) {
                document.getElementById("formulario").submit();
            }
        }
    </script>

{% endblock content %}